@media (max-width: 840px) {
    /* Если здесь были стили, которые делали блоки на весь экран, 
       замените их на фиксированные значения */
    body {
        width: 330px; 
        margin-right: 0;
    }
}

@media (max-width: 720px) {
    /* Если здесь были стили, которые делали блоки на весь экран, 
       замените их на фиксированные значения */
    body {
        width: 330px; 
        margin-left: 25%;
        margin-right: 0;
    }
}

@media (max-width: 570px) {
    /* Если здесь были стили, которые делали блоки на весь экран, 
       замените их на фиксированные значения */
    body {
        width: 330px; 
        margin-left: 20%;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    /* Если здесь были стили, которые делали блоки на весь экран, 
       замените их на фиксированные значения */
    body {
        width: 330px; 
        margin-left: 15%;
        margin-right: 0;
    }
}