body {
    max-width: 1000px;
    /* box-sizing: border-box; */

    /* display: flex;
    flex-direction: row; */
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(215, 240, 243);
}

.header_content{
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 5%;
    background-color: aliceblue;
    box-shadow: -2px 4px 9px rgb(85, 144, 158);
}

.main_content{
    border-radius: 15px;
    padding: 2rem;
    background-color: aliceblue;
}

.shadow{
    box-shadow: -2px 4px 9px rgb(85, 144, 158);
}
.header_h1{
    font-weight: bold;
    margin: 0%;
    margin-bottom: 2%;
}

.header_h2{
    opacity: 0.6;
    margin: 0%;
    margin-bottom: 2%;
}

.text_counter{
    /* для анимации уточнение границ */
     border: 0.1px solid rgba(0,0,0,0.01); /* Почти невидимая рамка */
    position: relative;
    
    background-color: rgb(215, 240, 243);
    padding: 1rem;
    margin-left: 70%;
    border-radius: 10px; 
    box-shadow: 
    inset -2px 3px 8px rgb(85, 144, 158);
    /* border: 1px solid rgb(25, 78, 94); */
}

.answer_button{
    background-color: aliceblue;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(25, 78, 94);
}


ul{
    list-style-type: none;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: -2px 1px 5px black; */
    border: 1px solid rgb(25, 78, 94);
}

.conteiner {
  
}

#split-screen {
    position: fixed;
    top: 0;
    left: 30%;   /* Как в вашем body */
    right: 30%;  /* Как в вашем body */
    max-width: 1000px; /* Как в вашем body */
    margin: 0 auto;
    pointer-events: none;
    z-index: 10000;
}

.slice {
    position: absolute;
    width: 100%; /* Заполнит всю ширину доступную в 1000px */
    left: 0;
    transition: transform 1s ease-in, opacity 0.8s;
}

/* Анимация при активации класса */
.cut-active #part-top {
    transform: translateY(-120vh) rotate(-5deg);
    opacity: 0;
}

.cut-active #part-bottom {
    transform: translateY(120vh) rotate(5deg);
    opacity: 0;
}
